Source: dsp-tools
Section: non-free
Priority: optional
Maintainer: Maemo Multimedia <multimedia@maemo.org>
Build-Depends: debhelper (>= 4), upstart-dev
Standards-Version: 3.7.3

Package: dsp-manager
Architecture: armel
Depends: ${shlibs:Depends}
Description: DSP handler and watchdog.

Package: dsp-tools
Architecture: armel
Depends: ${shlibs:Depends}
Description: Various DSP tools.
